TinySpreadsheet/Debug/*
.cproject
.project
TinySpreadsheet/.settings/*
TinySpreadsheet/.gitignore
TinySpreadsheet.sln
TinySpreadsheet.v12.suo
Debug/*
TinySpreadsheet.opensdf
TinySpreadsheet.sdf
TinySpreadsheet/TinySpreadsheet.vcxproj
TinySpreadsheet/TinySpreadsheet.vcxproj.filters
